<a href="https://colab.research.google.com/github/haydenlee914/Sports-analysis/blob/main/Sports_Data_Analysis_Yaeeun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Scraping and Sports Analytics

### Are the players worth their contract?
#### Creating a measure on player cap efficiency, provide an analysis and supporting argument for whether there are any players who are not “worth” their contract for the past season (2023) in the league.

### MLB - 1st Baseman

#### Data Scraping

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from time import sleep

In [2]:
import numpy as np

In [13]:
Team_Spend_1stbase_url='https://www.spotrac.com/mlb/positional/2023/1st-base/'
response = requests.get(Team_Spend_1stbase_url).text

In [14]:
pd.read_html(Team_Spend_1stbase_url)

[    Rank                      Team  Signed 2023 Payroll Dollars  \
 0    1.0    LADLos Angeles Dodgers       2          $40,500,000
 1    2.0  PHIPhiladelphia Phillies       3          $28,360,011
 2    3.0    STLSt. Louis Cardinals       2          $26,301,938
 3    4.0        CINCincinnati Reds       1          $25,000,000
 4    5.0      TORToronto Blue Jays       2          $23,800,000
 5    6.0         ATLAtlanta Braves       1          $21,000,000
 6    7.0         HOUHouston Astros       2          $19,709,034
 7    8.0          NYMNew York Mets       1          $14,500,000
 8    9.0      MILMilwaukee Brewers       2           $7,336,296
 9   10.0          MIAMiami Marlins       2           $6,661,310
 10  11.0   ARIArizona Diamondbacks       1           $6,500,000
 11  12.0    SFSan Francisco Giants       1           $6,500,000
 12  13.0          TBTampa Bay Rays       2           $6,205,163
 13  14.0       SEASeattle Mariners       2           $4,568,391
 14  15.0          TEXTexas Rangers       1           $4,050,000
 15  16.0    CLECleveland Guardians       1           $3,350,000
 16  17.0        SDSan Diego Padres       2           $2,902,441
 17  18.0   WSHWashington Nationals       2           $2,723,300
 18  19.0      BALBaltimore Orioles       2           $2,138,400
 19  20.0      CHWChicago White Sox       1             $760,000
 20  21.0         DETDetroit Tigers       1             $723,100
 21  22.0      OAKOakland Athletics       1             $720,000
 22  23.0        MINMinnesota Twins       1             $715,855
 23  24.0       COLColorado Rockies       1             $652,176
 24  25.0      KCKansas City Royals       1             $649,226
 25  26.0       NYYNew York Yankees       1             $600,005
 26  27.0     PITPittsburgh Pirates       1             $236,131
 27  28.0     LAALos Angeles Angels       1             $170,324
 28  29.0         BOSBoston Red Sox       1             $123,872
 29  30.0           CHCChicago Cubs       1             $123,872
 30   NaN                     Total      43         $257,580,845
 31   NaN                   Average       1           $8,586,028

    Avg Payroll Dollars % of 2023 Payroll
 0          $20,250,000            16.86%
 1           $9,453,337            11.56%
 2          $13,150,969            17.10%
 3          $25,000,000            25.89%
 4          $11,900,000            11.09%
 5          $21,000,000            10.18%
 6           $9,854,517             8.31%
 7          $14,500,000             4.22%
 8           $3,668,148             5.85%
 9           $3,330,655             6.32%
 10          $6,500,000             5.45%
 11          $6,500,000             3.47%
 12          $3,102,582             7.82%
 13          $2,284,196             3.57%
 14          $4,050,000             1.61%
 15          $3,350,000             3.65%
 16          $1,451,221             1.13%
 17          $1,361,650             2.92%
 18          $1,069,200             3.01%
 19            $760,000             0.47%
 20            $723,100             0.60%
 21            $720,000             1.16%
 22            $715,855             0.46%
 23            $652,176             0.38%
 24            $649,226             0.68%
 25            $600,005             0.22%
 26            $236,131             0.31%
 27            $170,324             0.07%
 28            $123,872             0.07%
 29            $123,872             0.07%
 30        $167,251,035             5.18%
 31          $5,990,252             5.15%  ,
     Rank  Player               Player.1 2023 Payroll Dollars % of 2023 Payroll
 0    1.0     NaN       Christian Walker           $6,500,000             5.45%
 1    2.0     NaN             Matt Olson          $21,000,000            10.18%
 2    3.0     NaN           Ryan O'Hearn           $1,400,000             1.97%
 3    4.0     NaN       Ryan Mountcastle             $738,400             1.04%
 4    5.0     NaN           Bobby Dalbec             $720,000             0.07%
 5    NaN     NaN            Jared Young             $720,000             0.07%
 6    7.0     NaN          Andrew Vaughn             $760,000             0.47%
 7    8.0     NaN             Joey Votto          $25,000,000            25.89%
 8    9.0     NaN            Josh Naylor           $3,350,000             3.65%
 9   10.0     NaN          Sean Bouchard             $722,000             0.38%
 10  11.0     NaN      Spencer Torkelson             $723,100             0.60%
 11  12.0     NaN             Jose Abreu          $19,500,000             8.22%
 12  13.0     NaN          Jon Singleton             $720,000             0.09%
 13  14.0     NaN            Nick Pratto             $727,500             0.68%
 14  15.0     NaN         Nolan Schanuel             $720,000             0.07%
 15  16.0     NaN        Freddie Freeman          $27,000,000            11.24%
 16  17.0     NaN              Max Muncy          $13,500,000             5.62%
 17  18.0     NaN              Josh Bell          $16,500,000             5.13%
 18  19.0     NaN       Yulieski Gurriel           $1,250,000             1.19%
 19  20.0     NaN         Carlos Santana           $6,725,000             1.90%
 20  21.0     NaN           Rowdy Tellez           $4,950,000             3.95%
 21  22.0     NaN         Alex Kirilloff             $735,650             0.46%
 22  23.0     NaN            Pete Alonso          $14,500,000             4.22%
 23  24.0     NaN            Jake Bauers             $720,000             0.22%
 24   NaN     NaN              Ryan Noda             $720,000             1.16%
 25  26.0     NaN           Bryce Harper          $27,538,462            11.22%
 26  27.0     NaN              Alec Bohm             $748,000             0.30%
 27  28.0     NaN          Weston Wilson             $720,000             0.03%
 28   NaN     NaN          Alfonso Rivas             $720,000             0.31%
 29  30.0     NaN            Ji-Man Choi           $4,650,000             0.60%
 30  31.0     NaN         Garrett Cooper           $4,200,000             0.54%
 31  32.0     NaN          Wilmer Flores           $6,500,000             3.47%
 32  33.0     NaN              Ty France           $4,100,000             3.20%
 33  34.0     NaN              Mike Ford             $720,000             0.37%
 34  35.0     NaN       Paul Goldschmidt          $26,000,000            16.91%
 35  36.0     NaN            Luken Baker             $720,000             0.20%
 36  37.0     NaN             Yandy Diaz           $6,000,000             7.56%
 37  38.0     NaN        Jonathan Aranda             $720,000             0.26%
 38  39.0     NaN              Nate Lowe           $4,050,000             1.61%
 39  40.0     NaN  Vladimir Guerrero Jr.          $14,500,000             6.76%
 40  41.0     NaN           Brandon Belt           $9,300,000             4.33%
 41  42.0     NaN          Dominic Smith           $2,000,000             2.14%
 42  43.0     NaN           Joey Meneses             $723,300             0.77%]

In [5]:
Team_Payroll_2023 = pd.read_html(Team_Spend_1stbase_url)[0]
print(Team_Payroll_2023.head())

   Rank                      Team  Signed 2023 Payroll Dollars  \
0   1.0    LADLos Angeles Dodgers       2          $40,500,000
1   2.0  PHIPhiladelphia Phillies       3          $28,360,011
2   3.0    STLSt. Louis Cardinals       2          $26,301,938
3   4.0        CINCincinnati Reds       1          $25,000,000
4   5.0      TORToronto Blue Jays       2          $23,800,000

  Avg Payroll Dollars % of 2023 Payroll
0         $20,250,000            16.86%
1          $9,453,337            11.56%
2         $13,150,969            17.10%
3         $25,000,000            25.89%
4         $11,900,000            11.09%

In [15]:
Player_Payroll_2023 = pd.read_html(Team_Spend_1stbase_url)[1]
print(Player_Payroll_2023.head())

   Rank  Player          Player.1 2023 Payroll Dollars % of 2023 Payroll
0   1.0     NaN  Christian Walker           $6,500,000             5.45%
1   2.0     NaN        Matt Olson          $21,000,000            10.18%
2   3.0     NaN      Ryan O'Hearn           $1,400,000             1.97%
3   4.0     NaN  Ryan Mountcastle             $738,400             1.04%
4   5.0     NaN      Bobby Dalbec             $720,000             0.07%

In [16]:
Player_Payroll_2023.drop(columns=['Player', 'Rank'], inplace=True)
Player_Payroll_2023.rename(columns={'Player.1': 'Name'}, inplace=True)

In [17]:
Player_Payroll_2023

                     Name 2023 Payroll Dollars % of 2023 Payroll
0        Christian Walker           $6,500,000             5.45%
1              Matt Olson          $21,000,000            10.18%
2            Ryan O'Hearn           $1,400,000             1.97%
3        Ryan Mountcastle             $738,400             1.04%
4            Bobby Dalbec             $720,000             0.07%
5             Jared Young             $720,000             0.07%
6           Andrew Vaughn             $760,000             0.47%
7              Joey Votto          $25,000,000            25.89%
8             Josh Naylor           $3,350,000             3.65%
9           Sean Bouchard             $722,000             0.38%
10      Spencer Torkelson             $723,100             0.60%
11             Jose Abreu          $19,500,000             8.22%
12          Jon Singleton             $720,000             0.09%
13            Nick Pratto             $727,500             0.68%
14         Nolan Schanuel             $720,000             0.07%
15        Freddie Freeman          $27,000,000            11.24%
16              Max Muncy          $13,500,000             5.62%
17              Josh Bell          $16,500,000             5.13%
18       Yulieski Gurriel           $1,250,000             1.19%
19         Carlos Santana           $6,725,000             1.90%
20           Rowdy Tellez           $4,950,000             3.95%
21         Alex Kirilloff             $735,650             0.46%
22            Pete Alonso          $14,500,000             4.22%
23            Jake Bauers             $720,000             0.22%
24              Ryan Noda             $720,000             1.16%
25           Bryce Harper          $27,538,462            11.22%
26              Alec Bohm             $748,000             0.30%
27          Weston Wilson             $720,000             0.03%
28          Alfonso Rivas             $720,000             0.31%
29            Ji-Man Choi           $4,650,000             0.60%
30         Garrett Cooper           $4,200,000             0.54%
31          Wilmer Flores           $6,500,000             3.47%
32              Ty France           $4,100,000             3.20%
33              Mike Ford             $720,000             0.37%
34       Paul Goldschmidt          $26,000,000            16.91%
35            Luken Baker             $720,000             0.20%
36             Yandy Diaz           $6,000,000             7.56%
37        Jonathan Aranda             $720,000             0.26%
38              Nate Lowe           $4,050,000             1.61%
39  Vladimir Guerrero Jr.          $14,500,000             6.76%
40           Brandon Belt           $9,300,000             4.33%
41          Dominic Smith           $2,000,000             2.14%
42           Joey Meneses             $723,300             0.77%

In [18]:
urls_for_teams = []  # Initialize the list before the loop

for team in ['ARI', 'ATL', 'BAL', 'BOS', 'CHC', 'CHW', 'CIN', 'CLE', 'COL', 'DET',
            'HOU', 'KCR', 'LAA', 'LAD', 'MIA', 'MIL', 'MIN', 'NYM', 'NYY', 'OAK', 'PHI',
            'PIT', 'SDP', 'SFG', 'SEA', 'STL', 'TBR', 'TEX', 'TOR', 'WSN']:
    url = f'https://www.baseball-reference.com/teams/{team}/2023.shtml'
    urls_for_teams.append(url)

# Loop through the URLs and read the first table from each page
all_first_tables = []

for url in urls_for_teams:
    # Add a random break before hitting the server again
    sleep(np.random.uniform(2, 5))

    # Read the HTML tables from the URL
    tables = pd.read_html(url)

    # Extract the first table from each URL and append it to all_first_tables
    first_table = tables[0]
    all_first_tables.append(first_table)

# Concatenate all first tables into one large DataFrame
results = pd.concat(all_first_tables, ignore_index=True)

In [19]:
# Print the resulting DataFrame
# where are the NaN values coming from?? Confirm table[0] on a single page and save as csv for further exploration
print(results)

       Rk  Pos                 Name   Age    G    PA    AB    R     H   2B  \
0       1    C       Gabriel Moreno    23  111   380   341   33    97   19
1       2   1B     Christian Walker    32  157   661   582   86   150   36
2       3   2B         Ketel Marte#    29  150   650   569   94   157   26
3       4   SS     Geraldo Perdomo#    23  144   495   407   71   100   20
4       5   3B      Emmanuel Rivera    27   86   283   257   32    67   13
...   ...  ...                  ...   ...  ...   ...   ...  ...   ...  ...
1763   47    P            Chad Kuhl    30    0     0   NaN  NaN   NaN  NaN
1764   48    P      MacKenzie Gore*    24    0     0   NaN  NaN   NaN  NaN
1765  NaN  NaN          Team Totals  26.9  162  6085  5522  700  1401  279
1766  NaN  NaN  Rank in 15 NL teams   NaN  NaN   NaN     4   12     5    6
1767   Rk  Pos                 Name   Age    G    PA    AB    R     H   2B

      ...   OBP   SLG   OPS  OPS+    TB  GDP  HBP   SH   SF  IBB
0     ...  .339  .408  .747   104   139   17    3    0    7    0
1     ...  .333  .497  .830   123   289   13    8    0    8    3
2     ...  .358  .485  .844   128   276   16    5    0    5    2
3     ...  .353  .359  .712    96   146    2    6   14    4    1
4     ...  .314  .358  .672    84    92    9    0    0    4    0
...   ...   ...   ...   ...   ...   ...  ...  ...  ...  ...  ...
1763  ...   NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN
1764  ...   NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN  NaN  NaN
1765  ...  .314  .396  .709    95  2185  112   78   20   38    6
1766  ...    13    12    12   NaN    11  NaN    5  NaN   11  NaN
1767  ...   OBP   SLG   OPS  OPS+    TB  GDP  HBP   SH   SF  IBB

[1768 rows x 28 columns]

In [20]:
def remove_special_characters(text):
    import re
    # This pattern will remove all non-alphanumeric characters and whitespaces
    pattern = r'[^a-zA-z0-9\s]'
    return re.sub(pattern, '', text)

In [21]:
# Apply the function to the column
results['Name'] = results['Name'].apply(remove_special_characters)
Player_Payroll_2023['Name'] = Player_Payroll_2023['Name'].apply(remove_special_characters)

In [22]:
Player_Payroll_2023

                    Name 2023 Payroll Dollars % of 2023 Payroll
0       Christian Walker           $6,500,000             5.45%
1             Matt Olson          $21,000,000            10.18%
2            Ryan OHearn           $1,400,000             1.97%
3       Ryan Mountcastle             $738,400             1.04%
4           Bobby Dalbec             $720,000             0.07%
5            Jared Young             $720,000             0.07%
6          Andrew Vaughn             $760,000             0.47%
7             Joey Votto          $25,000,000            25.89%
8            Josh Naylor           $3,350,000             3.65%
9          Sean Bouchard             $722,000             0.38%
10     Spencer Torkelson             $723,100             0.60%
11            Jose Abreu          $19,500,000             8.22%
12         Jon Singleton             $720,000             0.09%
13           Nick Pratto             $727,500             0.68%
14        Nolan Schanuel             $720,000             0.07%
15       Freddie Freeman          $27,000,000            11.24%
16             Max Muncy          $13,500,000             5.62%
17             Josh Bell          $16,500,000             5.13%
18      Yulieski Gurriel           $1,250,000             1.19%
19        Carlos Santana           $6,725,000             1.90%
20          Rowdy Tellez           $4,950,000             3.95%
21        Alex Kirilloff             $735,650             0.46%
22           Pete Alonso          $14,500,000             4.22%
23           Jake Bauers             $720,000             0.22%
24             Ryan Noda             $720,000             1.16%
25          Bryce Harper          $27,538,462            11.22%
26             Alec Bohm             $748,000             0.30%
27         Weston Wilson             $720,000             0.03%
28         Alfonso Rivas             $720,000             0.31%
29            JiMan Choi           $4,650,000             0.60%
30        Garrett Cooper           $4,200,000             0.54%
31         Wilmer Flores           $6,500,000             3.47%
32             Ty France           $4,100,000             3.20%
33             Mike Ford             $720,000             0.37%
34      Paul Goldschmidt          $26,000,000            16.91%
35           Luken Baker             $720,000             0.20%
36            Yandy Diaz           $6,000,000             7.56%
37       Jonathan Aranda             $720,000             0.26%
38             Nate Lowe           $4,050,000             1.61%
39  Vladimir Guerrero Jr          $14,500,000             6.76%
40          Brandon Belt           $9,300,000             4.33%
41         Dominic Smith           $2,000,000             2.14%
42          Joey Meneses             $723,300             0.77%

In [23]:
results.to_csv('stats.csv', index=False)

In [24]:
Player_Payroll_2023.to_csv('Player_Payroll_2023.csv', index=False)

In [25]:
stats_cleaned = pd.read_csv("stats.csv")

In [26]:
stats_cleaned

,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,1,C,Gabriel Moreno,23,111,380,341,33,97,19,...,.339,.408,.747,104,139,17,3,0,7,0
1,2,1B,Christian Walker,32,157,661,582,86,150,36,...,.333,.497,.830,123,289,13,8,0,8,3
2,3,2B,Ketel Marte,29,150,650,569,94,157,26,...,.358,.485,.844,128,276,16,5,0,5,2
3,4,SS,Geraldo Perdomo,23,144,495,407,71,100,20,...,.353,.359,.712,96,146,2,6,14,4,1
4,5,3B,Emmanuel Rivera,27,86,283,257,32,67,13,...,.314,.358,.672,84,92,9,0,0,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1763,47,P,Chad Kuhl,30,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1764,48,P,MacKenzie Gore,24,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1765,NaN,NaN,Team Totals,26.9,162,6085,5522,700,1401,279,...,.314,.396,.709,95,2185,112,78,20,38,6
1766,NaN,NaN,Rank in 15 NL teams,NaN,NaN,NaN,4,12,5,6,...,13,12,12,NaN,11,NaN,5,NaN,11,NaN
1767,Rk,Pos,Name,Age,G,PA,AB,R,H,2B,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB

In [27]:
OE_players = pd.merge(Player_Payroll_2023, stats_cleaned, how='left', on='Name')

In [28]:
OE_players

,Name,2023 Payroll Dollars,% of 2023 Payroll,Rk,Pos,Age,G,PA,AB,R,...,OBP,SLG,OPS,OPS+,TB,GDP,HBP,SH,SF,IBB
0,Christian Walker,"$6,500,000",5.45%,2,1B,32,157,661,582,86,...,.333,.497,.830,123,289,13,8,0,8,3
1,Matt Olson,"$21,000,000",10.18%,2,1B,29,162,720,608,127,...,.389,.604,.993,162,367,13,4,0,4,8
2,Ryan OHearn,"$1,400,000",1.97%,9,DH,29,112,368,346,48,...,.322,.480,.801,122,166,2,3,1,3,2
3,Ryan Mountcastle,"$738,400",1.04%,2,1B,26,115,470,423,64,...,.328,.452,.779,117,191,13,3,0,7,1
4,Bobby Dalbec,"$720,000",0.07%,21,IF,28,21,53,49,6,...,.264,.306,.570,54,15,0,0,0,0,0
5,Jared Young,"$720,000",0.07%,18,1B,27,16,47,43,8,...,.255,.465,.720,88,20,1,1,0,0,0
6,Andrew Vaughn,"$760,000",0.47%,2,1B,25,152,615,566,67,...,.314,.429,.743,101,243,15,11,0,2,0
7,Joey Votto,"$25,000,000",25.89%,13,1B,39,65,242,208,26,...,.314,.433,.747,99,90,2,7,0,0,0
8,Josh Naylor,"$3,350,000",3.65%,2,1B,26,121,495,452,52,...,.354,.489,.842,133,221,11,3,0,7,9
9,Sean Bouchard,"$722,000",0.38%,20,OF,27,21,43,38,11,...,.372,.684,1.056,165,26,0,0,0,1,0
10,Spencer Torkelson,"$723,100",0.60%,2,1B,23,159,684,606,88,...,.313,.446,.758,105,270,15,6,0,5,1
11,Jose Abreu,"$19,500,000",8.22%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Jon Singleton,"$720,000",0.09%,14,1B,31,25,73,62,8,...,.301,.323,.624,73,20,2,0,0,1,0
13,Jon Singleton,"$720,000",0.09%,23,1B,31,11,32,29,3,...,.188,.138,.325,-8,4,0,0,0,0,0
14,Nick Pratto,"$727,500",0.68%,2,1B,24,95,345,306,33,...,.307,.353,.660,82,108,3,6,0,4,0
15,Nolan Schanuel,"$720,000",0.07%,2,1B,21,29,132,109,19,...,.402,.330,.732,103,36,1,3,0,0,1
16,Freddie Freeman,"$27,000,000",11.24%,2,1B,33,161,730,637,131,...,.410,.567,.976,161,361,14,16,0,5,12
17,Max Muncy,"$13,500,000",5.62%,5,3B,32,135,579,482,95,...,.333,.475,.808,115,229,8,6,0,6,4
18,Josh Bell,"$16,500,000",5.13%,9,DH,30,97,393,347,26,...,.318,.383,.701,96,133,7,1,0,2,1
19,Josh Bell,"$16,500,000",5.13%,14,1B,30,53,224,200,26,...,.338,.480,.818,119,96,6,1,0,1,1
20,Yulieski Gurriel,"$1,250,000",1.19%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Carlos Santana,"$6,725,000",1.90%,12,1B,37,52,226,205,33,...,.314,.459,.773,109,94,8,0,0,1,0
22,Carlos Santana,"$6,725,000",1.90%,2,1B,37,94,393,345,45,...,.321,.412,.732,99,142,3,0,0,3,0
23,Rowdy Tellez,"$4,950,000",3.95%,2,1B,28,105,351,311,26,...,.291,.376,.667,82,117,11,0,0,5,2
24,Alex Kirilloff,"$735,650",0.46%,14,1B,25,88,319,281,35,...,.348,.445,.793,117,125,2,7,0,3,1
25,Pete Alonso,"$14,500,000",4.22%,2,1B,28,154,658,568,92,...,.318,.504,.821,122,286,17,21,0,4,6
26,Jake Bauers,"$720,000",0.22%,11,UT,27,84,272,242,28,...,.279,.413,.693,87,100,3,0,0,3,0
27,Ryan Noda,"$720,000",1.16%,2,1B,27,128,495,406,63,...,.364,.406,.770,121,165,4,10,0,2,1
28,Bryce Harper,"$27,538,462",11.22%,9,DH,30,126,546,457,84,...,.401,.499,.900,146,228,10,5,0,4,8
29,Alec Bohm,"$748,000",0.30%,5,3B,26,145,611,558,74,...,.327,.437,.765,108,244,23,5,0,6,1
30,Weston Wilson,"$720,000",0.03%,20,UT,28,8,22,16,5,...,.500,.500,1.000,177,8,0,0,0,0,0
31,Alfonso Rivas,"$720,000",0.31%,19,1B,26,40,106,94,6,...,.305,.436,.741,100,41,1,3,1,1,0
32,Alfonso Rivas,"$720,000",0.31%,22,1B,26,8,17,15,2,...,.294,.333,.627,76,5,0,0,0,0,0
33,JiMan Choi,"$4,650,000",0.60%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Garrett Cooper,"$4,200,000",0.54%,11,1B,32,82,324,305,28,...,.296,.426,.723,93,130,9,1,0,1,0
35,Garrett Cooper,"$4,200,000",0.54%,15,1B,32,41,133,117,14,...,.323,.402,.725,102,47,6,1,0,1,0
36,Wilmer Flores,"$6,500,000",3.47%,10,1B,31,126,454,405,51,...,.355,.509,.863,136,206,13,5,0,3,1
37,Ty France,"$4,100,000",3.20%,2,1B,28,158,665,587,79,...,.337,.366,.703,99,215,25,34,0,1,0
38,Mike Ford,"$720,000",0.37%,9,DH,30,83,251,219,32,...,.323,.475,.798,122,104,4,7,0,1,0
39,Paul Goldschmidt,"$26,000,000",16.91%,2,1B,35,154,687,593,89,...,.363,.447,.810,120,265,12,3,0,3,6
40,Luken Baker,"$720,000",0.20%,16,DH,26,33,99,86,9,...,.313,.314,.627,73,27,1,0,0,0,0
41,Yandy Diaz,"$6,000,000",7.56%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Jonathan Aranda,"$720,000",0.26%,15,IF,25,34,103,87,13,...,.340,.368,.708,98,32,1,2,0,1,1
43,Nate Lowe,"$4,050,000",1.61%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Vladimir Guerrero Jr,"$14,500,000",6.76%,2,1B,24,156,682,602,78,...,.345,.444,.788,117,267,23,9,0,4,5
45,Brandon Belt,"$9,300,000",4.33%,9,DH,35,103,404,339,53,...,.369,.490,.858,136,166,5,2,0,2,1
46,Dominic Smith,"$2,000,000",2.14%,2,1B,28,153,586,527,57,...,.326,.366,.692,92,193,12,10,0,2,1
47,Joey Meneses,"$723,300",0.77%,9,DH,31,154,657,611,71,...,.321,.401,.722,99,245,15,5,0,3,0

#### Sports Analytics

In [ ]:
# First, let's load the uploaded dataset to understand its structure and contents.
import pandas as pd

# Load the dataset
data = pd.read_csv('C:/Users/heyri/OneDrive/Desktop/data_sports.csv')

# Display the first few rows of the dataframe to understand its structure
data.head()

,Name,2023 Payroll Dollars,G_B,PA_B,HR,RBI,OPS,G_F,IP_F,Fld%,Rtot,Rdrs
0,Christian Walker,"$6,500,000",157,661,33,103,0.830,152,1309.1,0.998,-2,9
1,Matt Olson,"$21,000,000",162,720,54,139,0.993,162,1426.0,0.994,6,8
2,Ryan OHearn,"$1,400,000",112,368,14,60,0.801,70,519.0,0.994,-2,-5
3,Ryan Mountcastle,"$738,400",115,470,18,68,0.779,90,769.1,0.997,6,2
4,Bobby Dalbec,"$720,000",21,53,1,1,0.570,15,98.0,0.990,3,0

In [ ]:
# Normalize specified columns
columns_to_normalize = ['HR', 'RBI', 'OPS', 'Fld%', 'Rtot', 'Rdrs']
for col in columns_to_normalize:
    min_val = data[col].min()
    max_val = data[col].max()
    data[f'{col}_norm'] = (data[col] - min_val) / (max_val - min_val)

# Calculate additional normalized values needed for OE and DE
data['PA_B/G_B_norm'] = (data['PA_B'] / data['G_B'] - (data['PA_B'] / data['G_B']).min()) / ((data['PA_B'] / data['G_B']).max() - (data['PA_B'] / data['G_B']).min())
data['IP_F/G_F_norm'] = (data['IP_F'] / data['G_F'] - (data['IP_F'] / data['G_F']).min()) / ((data['IP_F'] / data['G_F']).max() - (data['IP_F'] / data['G_F']).min())


# Step 1: Calculate OE and DE

# Calculate Offensive Efficiency (OE)
data['OE'] = 0.4 * data['OPS_norm'] + 0.2 * data['HR_norm'] + 0.2 * data['RBI_norm'] + 0.2 * data['PA_B/G_B_norm']

# Calculate Defensive Efficiency (DE)
data['DE'] = 0.4 * data['Fld%_norm'] + 0.3 * data['Rdrs_norm'] + 0.2 * data['Rtot_norm'] + 0.1 * data['IP_F/G_F_norm']
# Fill NaN values in 'DE' column with 0
data['DE'] = data['DE'].fillna(0)

In [ ]:
# Step 2: Rank Teams

# Normalize the payroll salary
data['2023 Payroll Dollars'] = data['2023 Payroll Dollars'].replace('[\$,]', '', regex=True).astype(float)

data['Payroll Rank'] = data['2023 Payroll Dollars'].rank(method='min')
data['Performance Rank'] = (data['OE'] + data['DE']).rank(ascending=False, method='min')

# Convert 'Payroll Rank' and 'Performance Rank' to integer to remove decimal points
data['Payroll Rank'] = data['Payroll Rank'].astype(int)
data['Performance Rank'] = data['Performance Rank'].astype(int)
data['2023 Payroll Dollars'] = data['2023 Payroll Dollars'].astype(int)

In [ ]:
data[['Name', '2023 Payroll Dollars', 'Payroll Rank']].sort_values(by='Payroll Rank', ascending=True)

                    Name  2023 Payroll Dollars  Payroll Rank
37       Jonathan Aranda                720000             1
35           Luken Baker                720000             1
33             Mike Ford                720000             1
4           Bobby Dalbec                720000             1
5            Jared Young                720000             1
28         Alfonso Rivas                720000             1
27         Weston Wilson                720000             1
24             Ryan Noda                720000             1
23           Jake Bauers                720000             1
12         Jon Singleton                720000             1
14        Nolan Schanuel                720000             1
9          Sean Bouchard                722000            12
10     Spencer Torkelson                723100            13
42          Joey Meneses                723300            14
13           Nick Pratto                727500            15
21        Alex Kirilloff                735650            16
3       Ryan Mountcastle                738400            17
26             Alec Bohm                748000            18
6          Andrew Vaughn                760000            19
18          Yuli Gurriel               1250000            20
2            Ryan OHearn               1400000            21
41         Dominic Smith               2000000            22
8            Josh Naylor               3350000            23
38        Nathaniel Lowe               4050000            24
32             Ty France               4100000            25
30        Garrett Cooper               4200000            26
29            JiMan Choi               4650000            27
20          Rowdy Tellez               4950000            28
36            Yandy Diaz               6000000            29
31         Wilmer Flores               6500000            30
0       Christian Walker               6500000            30
19        Carlos Santana               6725000            32
40          Brandon Belt               9300000            33
16             Max Muncy              13500000            34
22           Pete Alonso              14500000            35
39  Vladimir Guerrero Jr              14500000            35
17             Josh Bell              16500000            37
11            Jose Abreu              19500000            38
1             Matt Olson              21000000            39
7             Joey Votto              25000000            40
34      Paul Goldschmidt              26000000            41
15       Freddie Freeman              27000000            42
25          Bryce Harper              27538462            43

In [ ]:
data[['Name', 'OE', 'DE', 'Performance Rank']].sort_values(by='Performance Rank', ascending=True)

                    Name        OE        DE  Performance Rank
1             Matt Olson  0.954963  0.895479                 1
22           Pete Alonso  0.781618  0.913158                 2
15       Freddie Freeman  0.806072  0.798799                 3
0       Christian Walker  0.711946  0.839099                 4
38        Nathaniel Lowe  0.613312  0.910584                 5
36            Yandy Diaz  0.707545  0.815752                 6
34      Paul Goldschmidt  0.657440  0.838425                 7
25          Bryce Harper  0.672930  0.805011                 8
8            Josh Naylor  0.641410  0.829447                 9
3       Ryan Mountcastle  0.566300  0.869616                10
31         Wilmer Flores  0.583211  0.826508                11
39  Vladimir Guerrero Jr  0.661571  0.739715                12
19        Carlos Santana  0.502631  0.890881                13
41         Dominic Smith  0.441315  0.915619                14
6          Andrew Vaughn  0.570696  0.784882                15
42          Joey Meneses  0.559540  0.790771                16
40          Brandon Belt  0.566354  0.776378                17
11            Jose Abreu  0.550924  0.787712                18
10     Spencer Torkelson  0.657140  0.674607                19
30        Garrett Cooper  0.472640  0.816207                20
17             Josh Bell  0.513219  0.756350                21
24             Ryan Noda  0.515841  0.738498                22
7             Joey Votto  0.460421  0.765561                23
26             Alec Bohm  0.617763  0.607458                24
2            Ryan OHearn  0.488632  0.720228                25
14        Nolan Schanuel  0.423396  0.761099                26
32             Ty France  0.495328  0.688096                27
33             Mike Ford  0.435727  0.742443                28
20          Rowdy Tellez  0.393083  0.780035                29
23           Jake Bauers  0.371425  0.797827                30
21        Alex Kirilloff  0.472452  0.630792                31
13           Nick Pratto  0.372477  0.704904                32
18          Yuli Gurriel  0.304763  0.769924                33
28         Alfonso Rivas  0.295719  0.767283                34
12         Jon Singleton  0.240055  0.801523                35
37       Jonathan Aranda  0.301766  0.663255                36
35           Luken Baker  0.248181  0.714971                37
4           Bobby Dalbec  0.160405  0.745318                38
29            JiMan Choi  0.042572  0.760523                39
27         Weston Wilson  0.428835  0.316294                40
16             Max Muncy  0.719506  0.000000                41
5            Jared Young  0.294125  0.404119                42
9          Sean Bouchard  0.423510  0.000000                43

In [ ]:
# Step 3 is the same: Calculate Cap Efficiency based on Ranks
data['Cap Efficiency Rank-Based'] = data['Performance Rank'] + data['Payroll Rank']

# Calculate a new rank based on 'Cap Efficiency Rank-Based' score, ensuring lower scores get higher ranks
data['Cap Efficiency Rank-Based Rank'] = data['Cap Efficiency Rank-Based'].rank(method='min', ascending=True)

# Sort the DataFrame by the new rank column in ascending order, so the lowest (best) rank is at the top
result_sorted_by_efficiency = data[['Name', 'OE', 'DE', '2023 Payroll Dollars', 'Cap Efficiency Rank-Based', 'Cap Efficiency Rank-Based Rank']].sort_values(by='Cap Efficiency Rank-Based Rank', ascending=True)

# Convert 'Cap Efficiency Rank-Based Rank' to integer to remove decimal points for cleaner presentation
result_sorted_by_efficiency['Cap Efficiency Rank-Based Rank'] = result_sorted_by_efficiency['Cap Efficiency Rank-Based Rank'].astype(int)

In [ ]:
result_sorted_by_efficiency

,Name,OE,DE,2023 Payroll Dollars,Cap Efficiency Rank-Based,Cap Efficiency Rank-Based Rank
24,Ryan Noda,0.515841,0.738498,720000,23,1
3,Ryan Mountcastle,0.566300,0.869616,738400,27,2
14,Nolan Schanuel,0.423396,0.761099,720000,27,2
38,Nathaniel Lowe,0.613312,0.910584,4050000,29,4
33,Mike Ford,0.435727,0.742443,720000,29,4
42,Joey Meneses,0.559540,0.790771,723300,30,6
23,Jake Bauers,0.371425,0.797827,720000,31,7
10,Spencer Torkelson,0.657140,0.674607,723100,32,8
8,Josh Naylor,0.641410,0.829447,3350000,32,8
0,Christian Walker,0.711946,0.839099,6500000,34,10
6,Andrew Vaughn,0.570696,0.784882,760000,34,10
28,Alfonso Rivas,0.295719,0.767283,720000,35,12
36,Yandy Diaz,0.707545,0.815752,6000000,35,12
12,Jon Singleton,0.240055,0.801523,720000,36,14
41,Dominic Smith,0.441315,0.915619,2000000,36,14
37,Jonathan Aranda,0.301766,0.663255,720000,37,16
22,Pete Alonso,0.781618,0.913158,14500000,37,16
35,Luken Baker,0.248181,0.714971,720000,38,18
4,Bobby Dalbec,0.160405,0.745318,720000,39,19
1,Matt Olson,0.954963,0.895479,21000000,40,20
31,Wilmer Flores,0.583211,0.826508,6500000,41,21
27,Weston Wilson,0.428835,0.316294,720000,41,21
26,Alec Bohm,0.617763,0.607458,748000,42,23
5,Jared Young,0.294125,0.404119,720000,43,24
15,Freddie Freeman,0.806072,0.798799,27000000,45,25
19,Carlos Santana,0.502631,0.890881,6725000,45,25
30,Garrett Cooper,0.472640,0.816207,4200000,46,27
2,Ryan OHearn,0.488632,0.720228,1400000,46,27
39,Vladimir Guerrero Jr,0.661571,0.739715,14500000,47,29
21,Alex Kirilloff,0.472452,0.630792,735650,47,29
13,Nick Pratto,0.372477,0.704904,727500,47,29
34,Paul Goldschmidt,0.657440,0.838425,26000000,48,32
40,Brandon Belt,0.566354,0.776378,9300000,50,33
25,Bryce Harper,0.672930,0.805011,27538462,51,34
32,Ty France,0.495328,0.688096,4100000,52,35
18,Yuli Gurriel,0.304763,0.769924,1250000,53,36
9,Sean Bouchard,0.423510,0.000000,722000,55,37
11,Jose Abreu,0.550924,0.787712,19500000,56,38
20,Rowdy Tellez,0.393083,0.780035,4950000,57,39
17,Josh Bell,0.513219,0.756350,16500000,58,40
7,Joey Votto,0.460421,0.765561,25000000,63,41
29,JiMan Choi,0.042572,0.760523,4650000,66,42
16,Max Muncy,0.719506,0.000000,13500000,75,43