<a href="https://colab.research.google.com/github/haydenlee914/Sports-analysis/blob/main/Sports_Data_Analysis_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# First, let's load the uploaded dataset to understand its structure and contents.
import pandas as pd

# Load the dataset
data = pd.read_csv('C:/Users/heyri/OneDrive/Desktop/data_sports.csv')

# Display the first few rows of the dataframe to understand its structure
data.head()

,Name,2023 Payroll Dollars,G_B,PA_B,HR,RBI,OPS,G_F,IP_F,Fld%,Rtot,Rdrs
0,Christian Walker,"$6,500,000",157,661,33,103,0.830,152,1309.1,0.998,-2,9
1,Matt Olson,"$21,000,000",162,720,54,139,0.993,162,1426.0,0.994,6,8
2,Ryan OHearn,"$1,400,000",112,368,14,60,0.801,70,519.0,0.994,-2,-5
3,Ryan Mountcastle,"$738,400",115,470,18,68,0.779,90,769.1,0.997,6,2
4,Bobby Dalbec,"$720,000",21,53,1,1,0.570,15,98.0,0.990,3,0

In [ ]:
# Normalize specified columns
columns_to_normalize = ['HR', 'RBI', 'OPS', 'Fld%', 'Rtot', 'Rdrs']
for col in columns_to_normalize:
    min_val = data[col].min()
    max_val = data[col].max()
    data[f'{col}_norm'] = (data[col] - min_val) / (max_val - min_val)

# Calculate additional normalized values needed for OE and DE
data['PA_B/G_B_norm'] = (data['PA_B'] / data['G_B'] - (data['PA_B'] / data['G_B']).min()) / ((data['PA_B'] / data['G_B']).max() - (data['PA_B'] / data['G_B']).min())
data['IP_F/G_F_norm'] = (data['IP_F'] / data['G_F'] - (data['IP_F'] / data['G_F']).min()) / ((data['IP_F'] / data['G_F']).max() - (data['IP_F'] / data['G_F']).min())


# Step 1: Calculate OE and DE

# Calculate Offensive Efficiency (OE)
data['OE'] = 0.4 * data['OPS_norm'] + 0.2 * data['HR_norm'] + 0.2 * data['RBI_norm'] + 0.2 * data['PA_B/G_B_norm']

# Calculate Defensive Efficiency (DE)
data['DE'] = 0.4 * data['Fld%_norm'] + 0.3 * data['Rdrs_norm'] + 0.2 * data['Rtot_norm'] + 0.1 * data['IP_F/G_F_norm']
# Fill NaN values in 'DE' column with 0
data['DE'] = data['DE'].fillna(0)

In [ ]:
# Step 2: Rank Teams

# Normalize the payroll salary
data['2023 Payroll Dollars'] = data['2023 Payroll Dollars'].replace('[\$,]', '', regex=True).astype(float)

data['Payroll Rank'] = data['2023 Payroll Dollars'].rank(method='min')
data['Performance Rank'] = (data['OE'] + data['DE']).rank(ascending=False, method='min')

# Convert 'Payroll Rank' and 'Performance Rank' to integer to remove decimal points
data['Payroll Rank'] = data['Payroll Rank'].astype(int)
data['Performance Rank'] = data['Performance Rank'].astype(int)
data['2023 Payroll Dollars'] = data['2023 Payroll Dollars'].astype(int)

In [ ]:
data[['Name', '2023 Payroll Dollars', 'Payroll Rank']].sort_values(by='Payroll Rank', ascending=True)

                    Name  2023 Payroll Dollars  Payroll Rank
37       Jonathan Aranda                720000             1
35           Luken Baker                720000             1
33             Mike Ford                720000             1
4           Bobby Dalbec                720000             1
5            Jared Young                720000             1
28         Alfonso Rivas                720000             1
27         Weston Wilson                720000             1
24             Ryan Noda                720000             1
23           Jake Bauers                720000             1
12         Jon Singleton                720000             1
14        Nolan Schanuel                720000             1
9          Sean Bouchard                722000            12
10     Spencer Torkelson                723100            13
42          Joey Meneses                723300            14
13           Nick Pratto                727500            15
21        Alex Kirilloff                735650            16
3       Ryan Mountcastle                738400            17
26             Alec Bohm                748000            18
6          Andrew Vaughn                760000            19
18          Yuli Gurriel               1250000            20
2            Ryan OHearn               1400000            21
41         Dominic Smith               2000000            22
8            Josh Naylor               3350000            23
38        Nathaniel Lowe               4050000            24
32             Ty France               4100000            25
30        Garrett Cooper               4200000            26
29            JiMan Choi               4650000            27
20          Rowdy Tellez               4950000            28
36            Yandy Diaz               6000000            29
31         Wilmer Flores               6500000            30
0       Christian Walker               6500000            30
19        Carlos Santana               6725000            32
40          Brandon Belt               9300000            33
16             Max Muncy              13500000            34
22           Pete Alonso              14500000            35
39  Vladimir Guerrero Jr              14500000            35
17             Josh Bell              16500000            37
11            Jose Abreu              19500000            38
1             Matt Olson              21000000            39
7             Joey Votto              25000000            40
34      Paul Goldschmidt              26000000            41
15       Freddie Freeman              27000000            42
25          Bryce Harper              27538462            43

In [ ]:
data[['Name', 'OE', 'DE', 'Performance Rank']].sort_values(by='Performance Rank', ascending=True)

                    Name        OE        DE  Performance Rank
1             Matt Olson  0.954963  0.895479                 1
22           Pete Alonso  0.781618  0.913158                 2
15       Freddie Freeman  0.806072  0.798799                 3
0       Christian Walker  0.711946  0.839099                 4
38        Nathaniel Lowe  0.613312  0.910584                 5
36            Yandy Diaz  0.707545  0.815752                 6
34      Paul Goldschmidt  0.657440  0.838425                 7
25          Bryce Harper  0.672930  0.805011                 8
8            Josh Naylor  0.641410  0.829447                 9
3       Ryan Mountcastle  0.566300  0.869616                10
31         Wilmer Flores  0.583211  0.826508                11
39  Vladimir Guerrero Jr  0.661571  0.739715                12
19        Carlos Santana  0.502631  0.890881                13
41         Dominic Smith  0.441315  0.915619                14
6          Andrew Vaughn  0.570696  0.784882                15
42          Joey Meneses  0.559540  0.790771                16
40          Brandon Belt  0.566354  0.776378                17
11            Jose Abreu  0.550924  0.787712                18
10     Spencer Torkelson  0.657140  0.674607                19
30        Garrett Cooper  0.472640  0.816207                20
17             Josh Bell  0.513219  0.756350                21
24             Ryan Noda  0.515841  0.738498                22
7             Joey Votto  0.460421  0.765561                23
26             Alec Bohm  0.617763  0.607458                24
2            Ryan OHearn  0.488632  0.720228                25
14        Nolan Schanuel  0.423396  0.761099                26
32             Ty France  0.495328  0.688096                27
33             Mike Ford  0.435727  0.742443                28
20          Rowdy Tellez  0.393083  0.780035                29
23           Jake Bauers  0.371425  0.797827                30
21        Alex Kirilloff  0.472452  0.630792                31
13           Nick Pratto  0.372477  0.704904                32
18          Yuli Gurriel  0.304763  0.769924                33
28         Alfonso Rivas  0.295719  0.767283                34
12         Jon Singleton  0.240055  0.801523                35
37       Jonathan Aranda  0.301766  0.663255                36
35           Luken Baker  0.248181  0.714971                37
4           Bobby Dalbec  0.160405  0.745318                38
29            JiMan Choi  0.042572  0.760523                39
27         Weston Wilson  0.428835  0.316294                40
16             Max Muncy  0.719506  0.000000                41
5            Jared Young  0.294125  0.404119                42
9          Sean Bouchard  0.423510  0.000000                43

In [ ]:
# Step 3 is the same: Calculate Cap Efficiency based on Ranks
data['Cap Efficiency Rank-Based'] = data['Performance Rank'] + data['Payroll Rank']

# Calculate a new rank based on 'Cap Efficiency Rank-Based' score, ensuring lower scores get higher ranks
data['Cap Efficiency Rank-Based Rank'] = data['Cap Efficiency Rank-Based'].rank(method='min', ascending=True)

# Sort the DataFrame by the new rank column in ascending order, so the lowest (best) rank is at the top
result_sorted_by_efficiency = data[['Name', 'OE', 'DE', '2023 Payroll Dollars', 'Cap Efficiency Rank-Based', 'Cap Efficiency Rank-Based Rank']].sort_values(by='Cap Efficiency Rank-Based Rank', ascending=True)

# Convert 'Cap Efficiency Rank-Based Rank' to integer to remove decimal points for cleaner presentation
result_sorted_by_efficiency['Cap Efficiency Rank-Based Rank'] = result_sorted_by_efficiency['Cap Efficiency Rank-Based Rank'].astype(int)

In [ ]:
result_sorted_by_efficiency

,Name,OE,DE,2023 Payroll Dollars,Cap Efficiency Rank-Based,Cap Efficiency Rank-Based Rank
24,Ryan Noda,0.515841,0.738498,720000,23,1
3,Ryan Mountcastle,0.566300,0.869616,738400,27,2
14,Nolan Schanuel,0.423396,0.761099,720000,27,2
38,Nathaniel Lowe,0.613312,0.910584,4050000,29,4
33,Mike Ford,0.435727,0.742443,720000,29,4
42,Joey Meneses,0.559540,0.790771,723300,30,6
23,Jake Bauers,0.371425,0.797827,720000,31,7
10,Spencer Torkelson,0.657140,0.674607,723100,32,8
8,Josh Naylor,0.641410,0.829447,3350000,32,8
0,Christian Walker,0.711946,0.839099,6500000,34,10
6,Andrew Vaughn,0.570696,0.784882,760000,34,10
28,Alfonso Rivas,0.295719,0.767283,720000,35,12
36,Yandy Diaz,0.707545,0.815752,6000000,35,12
12,Jon Singleton,0.240055,0.801523,720000,36,14
41,Dominic Smith,0.441315,0.915619,2000000,36,14
37,Jonathan Aranda,0.301766,0.663255,720000,37,16
22,Pete Alonso,0.781618,0.913158,14500000,37,16
35,Luken Baker,0.248181,0.714971,720000,38,18
4,Bobby Dalbec,0.160405,0.745318,720000,39,19
1,Matt Olson,0.954963,0.895479,21000000,40,20
31,Wilmer Flores,0.583211,0.826508,6500000,41,21
27,Weston Wilson,0.428835,0.316294,720000,41,21
26,Alec Bohm,0.617763,0.607458,748000,42,23
5,Jared Young,0.294125,0.404119,720000,43,24
15,Freddie Freeman,0.806072,0.798799,27000000,45,25
19,Carlos Santana,0.502631,0.890881,6725000,45,25
30,Garrett Cooper,0.472640,0.816207,4200000,46,27
2,Ryan OHearn,0.488632,0.720228,1400000,46,27
39,Vladimir Guerrero Jr,0.661571,0.739715,14500000,47,29
21,Alex Kirilloff,0.472452,0.630792,735650,47,29
13,Nick Pratto,0.372477,0.704904,727500,47,29
34,Paul Goldschmidt,0.657440,0.838425,26000000,48,32
40,Brandon Belt,0.566354,0.776378,9300000,50,33
25,Bryce Harper,0.672930,0.805011,27538462,51,34
32,Ty France,0.495328,0.688096,4100000,52,35
18,Yuli Gurriel,0.304763,0.769924,1250000,53,36
9,Sean Bouchard,0.423510,0.000000,722000,55,37
11,Jose Abreu,0.550924,0.787712,19500000,56,38
20,Rowdy Tellez,0.393083,0.780035,4950000,57,39
17,Josh Bell,0.513219,0.756350,16500000,58,40
7,Joey Votto,0.460421,0.765561,25000000,63,41
29,JiMan Choi,0.042572,0.760523,4650000,66,42
16,Max Muncy,0.719506,0.000000,13500000,75,43